@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.white-text {
  color: white;
  cursor: pointer;
}
.white-text:hover {
  color: white;
  opacity: 0.7;
  transform: scale(1.1);
  transition: all 250ms ease-out;
}

.no-transform,
.no-transform:hover {
  transform: none;
}

.text-vertical {
  transform: rotate(-90deg);
}
.text-vertical:hover {
  transform: scale(1.1) rotate(-90deg);
}
.hover-line {
  position: relative;
}

.hover-line::before {
  content: '';
  position: absolute;
  bottom: 8%;
  width: 0%;
  border-bottom: 1px solid white;
  transition: width 250ms ease-in;
}

.hover-line:hover::before {
  width: 80%;
  border-bottom: 1px solid white;
}
